
@import './reset.scss';
@import '../variables/colors.scss';
@import '../variables/fonts.scss';



body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: $normal;
    letter-spacing: -.022em;
    font-family: $contentFont;
    background-color: $colorBackg;
}


h1, h2 , h3 {
    font-size: $sizeH;
    line-height: 1.125;
    font-weight: $bold;
    letter-spacing: .004em;
    font-family: $titleFont;
    color: $colorMtxt;
}

.App {
    text-align: center;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  